
/* App.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}
.app-footer {
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}


.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  cursor: grab;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.icon.selected {
  border: 2px solid blue; /* Change this color as needed */
}

.icon img {
  width: 150px;
  height: 150px;
}

.drag-drop-area {
  margin: 20px;
  padding: 50px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
}